html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}
#Main {
  display: flex;
  height: 100%;
  width: 90%;
}
#Main .HomePage {
  flex: 1;
}
#Main > .SideBar {
  order: -1;
}
.App, .Header, .SideBar, .HomePage {
  text-align: center;
}

li {
  padding: 15px;
  list-style-type: none;
}
